<div class="bg-indigo-100 shadow-md rounded-lg p-6 relative">
    {{!-- Pass car id to openModal --}}
    <button class="absolute top-2 right-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-xs"
        onclick="openModal('{{id}}')">
        Edit
    </button>
    <i class="fas fa-car mb-2 text-4xl"></i>
    <h2 class="text-xl font-bold mb-2">{{make}} {{model}}</h2>
    <div class="mb-3">
        <strong class="inline-block w-40">License Plate:</strong>
        <span>{{licensePlate}}</span>
    </div>
    <div class="mb-3">
        <strong class="inline-block w-40">Year:</strong>
        <span>{{year}}</span>
    </div>
    <div class="mb-4">
        <strong class="inline-block w-40">Colour:</strong>
        <span>{{colour}}</span>
    </div>

    <div class="flex items-center justify-between">
        <button id="view-service-history-btn"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            onclick="showServiceHistory('{{id}}')">View Service History</button>
        <button id="book-service-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            onclick="bookService('{{id}}')">Book Service</button>
    </div>
</div>


<!-- edit car info modal -->
<div class="fixed inset-0 w-full h-full z-20 bg-opacity-50 bg-black flex items-center justify-center hidden"
    id="editModal-{{id}}">
    <div class="bg-white w-11/12 md:max-w-md mx-auto rounded-lg shadow-lg z-30 overflow-y-auto">
        <div class="py-4 px-6">
            <div class="text-center">
                <h3 class="text-2xl mb-4">Edit Car Details</h3>
            </div>
            <form>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="make">Make:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="{{id}}-make" type="text" value="{{make}}">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="model">Model:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="{{id}}-model" type="text" value="{{model}}">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="licensePlate">License Plate:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="{{id}}-licensePlate" type="text" value="{{licensePlate}}">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="year">Year:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="{{id}}-year" type="text" value="{{year}}">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="colour">Colour:</label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="{{id}}-colour" type="text" value="{{colour}}">
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        onclick="updateCar('{{id}}')" type="button">Save Changes</button>
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                        onclick="closeModal()">Close</button>
                    <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
                        onclick="deleteCar('{{id}}')" type="button">Delete Car</button>
                </div>
            </form>
        </div>
    </div>
</div>