{{! search bar }}
<div id="search">
  <input
    type="text"
    id="search-bar"
    class="border border-black mb-2 p-1 w-full"
    placeholder="Search for names..."
  />
</div>

{{! customers table }}
<h2 class="text-2xl mb-2">Customers</h2>
<table class="table-auto border border-collapse w-full text-center select-none">
  <thead>
    <tr class="border">
      <th class="border p-1">First Name</th>
      <th class="border p-1">Last Name</th>
      <th class="border p-1">Address</th>
    </tr>
    <tbody id="user-table">
      {{#each customers as |customer|}}
        <tr id="user-{{customer.id}}">
          <td class="border p-1">{{customer.first_name}}</td>
          <td class="border p-1">{{customer.last_name}}</td>
          <td class="border p-1">{{customer.address}}</td>
        </tr>
      {{/each}}

    </tbody>
  </thead>
</table>

<div
  id="user-modal"
  class="hidden flex h-full w-full items-center justify-center fixed z-10 top-0 left-0"
  style="background-color: #00000070"
>
  <div
    id="modal-content"
    class="relative w-2/4 h-3/4 px-3 border border-black bg-slate-200 grid grid-rows-[auto_1fr]"
  >
    <span
      id="user-modal-close"
      class="row-start-1 row-end-2 col-span-full absolute top-[0.5rem] right-[0.5rem] select-none aria-hidden text-bold text-4xl hover:cursor-pointer"
    >&times;</span>
    <div
      class="grid auto-rows-auto grid-cols-[auto_1fr] gap-10 row-start-1 row-end-2 col-span-full mb-3 p-3 gap-y-2"
    >
      <div class="select-none">First Name:</div>
      <div id="first-name-div"></div>
      <div class="select-none">Last Name:</div>
      <div id="last-name-div"></div>
      <div class="select-none">Address:</div>
      <div id="address-div"></div>
      <div class="select-none">Phone number:</div>
      <div id="phone-div"></div>
    </div>
    <div
      id="service-history"
      class="overflow-hidden overflow-y-auto h-full row-start-2 row-end-3 col-span-full"
    >
      <h4 class="text-center text-xl mb-3 select-none">Service History</h4>
      <table id="service-list" class="w-full text-center">
        <thead>
          <tr>
            <th>Date</th>
            <th>Service Type</th>
            <th>Vehicle Registration</th>
            <th>Cost</th>
          </tr>
        </thead>
        {{!-- {{#each services as |service|}}
            <tr class="border-b-1 border-black">
              <td>{{service.date}}</td>
              <td>{{service.type}}</td>
              <td>{{service.registration}}</td>
              <td>{{service.cost}}</td>
            </tr>
          {{/each}} --}}
        <tbody>
          <tr class="border-b border-black">
            <td class="mb-2 p-2">31/01/2023</td>
            <td class="mb-2 p-2">Service and Inspection</td>
            <td class="mb-2 p-2">S579CDU</td>
            <td class="mb-2 p-2">$600</td>
          </tr>
          <tr class="border-b border-black">
            <td class="mb-2 p-2">31/01/2023</td>
            <td class="mb-2 p-2">Service and Inspection</td>
            <td class="mb-2 p-2">S579CDU</td>
            <td class="mb-2 p-2">$600</td>
          </tr>
          <tr class="border-b border-black">
            <td class="mb-2 p-2">31/01/2023</td>
            <td class="mb-2 p-2">Service and Inspection</td>
            <td class="mb-2 p-2">S579CDU</td>
            <td class="mb-2 p-2">$600</td>
          </tr>
          <tr class="border-b border-black">
            <td class="mb-2 p-2">31/01/2023</td>
            <td class="mb-2 p-2">Service and Inspection</td>
            <td class="mb-2 p-2">S579CDU</td>
            <td class="mb-2 p-2">$600</td>
          </tr>
          <tr class="border-b border-black">
            <td class="mb-2 p-2">31/01/2023</td>
            <td class="mb-2 p-2">Service and Inspection</td>
            <td class="mb-2 p-2">S579CDU</td>
            <td class="mb-2 p-2">$600</td>
          </tr>
          <tr class="border-b border-black">
            <td class="mb-2 p-2">31/01/2023</td>
            <td class="mb-2 p-2">Service and Inspection</td>
            <td class="mb-2 p-2">S579CDU</td>
            <td class="mb-2 p-2">$600</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>