{{#each jobs as |job|}}
  <div
    class="grid auto-rows-auto grid-cols-[max-content_1fr_max-content_1fr] mb-3 p-3 gap-3 border-b-2"
  >
    <div class="select-none">Customer Name:</div>
    <div>{{job.car.user.first_name}} {{job.car.user.last_name}}</div>
    <div class="select-none">Phone number:</div>
    <div>{{job.car.user.phone}}</div>
    <div class="select-none">Registration:</div>
    <div>{{job.car.license_plate}}</div>
    <div class="select-none">Make:</div>
    <div>{{job.car.make}}</div>
    <div class="select-none">Model:</div>
    <div>{{job.car.model}}</div>
    <div class="select-none">Year:</div>
    <div>{{job.car.year}}</div>
    <div class="select-none">Colour:</div>
    <div>{{job.car.colour}}</div>
    <div class="select-none">Job type:</div>
    <div>{{job.type}}</div>
    <div class="select-none">Drop-off time:</div>
    <div>{{job.drop_off}}</div>
    <div class="select-none">Job length:</div>
    <div>{{jobLength job.type}}</div>
    <div class="select-none">Assigned Technician:</div>
    <div>
      <select class="mechanic-list">
        {{#each ../technicians}}
          <option
            value={{id}}
          >{{first_name}} {{last_name}}</option>
        {{/each}}
      </select>
      <button class="assign-technician border">Assign Technician</button>
    </div>
    <div class="select-none col-start-1">Notes:</div>
    <div class="col-start-2 col-end-5">{{job.notes}}</div>
  </div>
{{/each}}