{{!-- Add in #each jobs as |job| --}}
<div class="bg-indigo-100 shadow-md rounded-lg p-6 relative">
    <i class="fas fa-car mb-2 text-4xl"></i>
    <h2 class="text-xl font-bold mb-2">{{make}}Audi {{model}}Q5</h2>
    
    <div class="mb-3">
        <strong class="inline-block w-40">License Plate:</strong>
        <span>{{licensePlate}}SEC99S</span>
    </div>
    
    <div class="mb-3">
        <strong class="inline-block w-40">Year:</strong>
        <span>{{year}}2018</span>
    </div>
    
    <div class="mb-4">
        <strong class="inline-block w-40">Colour:</strong>
        <span>{{colour}}BLACK</span>
    </div>

    <div class="mb-4">
      <strong class="inline-block w-40">Job Type:</strong>
      <span>{{service}}INSPECTION</span>
    </div>
          
    <div class="mb-4">
      <strong class="inline-block w-40">Drop-off Time:</strong>
      <span>{{time}}9:30am</span>
    </div>
          
    <div class="mb-4">
      <strong class="inline-block w-40">Job Length:</strong>
      <span>{{length}}1 Hour</span>
    </div>

    <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">View Service History</button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add Comments</button>
    </div>
</div>
{{!-- add in /each --}}