<div class="flex flex-col h-screen w-full md:flex-row">
  <!--Sidebar --->
  <aside id="default-sidebar"
    class="z-40 w-full h-20 md:h-screen md:w-64 md:relative md:transition-transform md:-translate-x-full md:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full md:overflow-y-auto md:px-3 md:py-4 bg-gray-50 dark:bg-gray-500">
      <ul class="flex md:flex-col md:space-y-8 md:font-medium sm:pt-3">
        <li>
          <a href="#" onclick="showSection('car-info')"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <svg aria-hidden="true"
              class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
              <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
            </svg>
            <span class="ml-3">Customer Car</span>
          </a>
        </li>
        <li>
          <a href="#" onclick="showSection('service')"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <svg aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
              </path>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Service History</span>
            <span
              class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"></span>
          </a>
        </li>
        <li>
          <a href="#" onclick="showSection('book-service')"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <svg aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z">
              </path>
              <path
                d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z">
              </path>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Book Service</span>
          </a>
        </li>
        <li>
          <a href="#" onclick="showSection('profile-page')"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <svg aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Profile</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <!-- right side section Show data from model -->
<<<<<<< HEAD
  <div
    class="relative w-full h-full md:mt-0 md:h-full overflow-auto bg-gradient-to-r from-gray-400 via-gray-600 to-blue-800 ">
=======
  <div class="relative w-full md:mt-0 md:h-full overflow-auto bg-gradient-to-r from-gray-400 via-gray-600 to-blue-800 ">
>>>>>>> 592fbbf0cf8da9ac60b0056ff962a0cefe9f61c9
    <h1 class="text-4xl font-bold mt-5 text-center ">Welcome, {{user.first_name}} {{user.last_name}}</h1>
    <!-- car info -->
    <div class="container mx-auto px-4 py-6" id="car-info">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {{#each cars as |car|}}
        {{> carInfo}}

        {{else}}
        <p>No Car saved for this user</p>
        {{/each}}
      </div>
      <div class="mt-6">
        <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded mt-4"
          onclick="openAddCarModal()">Add New Car</button </div>
      </div>
    </div>


    <!-- service history -->
    <div class="service-history container mx-auto px-4 py-6" id="service">
      <h2 class="text-center text-2xl mb-4">Service History</h2>
      {{#if currentServices}}
      <h3 class="text-center text-xl mb-2">Current Services</h3>
      <table class="w-full border-collapse mb-8">
        <thead>
          <tr>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Rego</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Make/Model</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Additional Notes</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Price</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Total Time(hours)</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Service Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each currentServices}}
          <tr class="even:bg-gray-100">
            <td class="border border-gray-300 p-2">{{this.car.licensePlate}}</td>
            <td class="border border-gray-300 p-2">{{this.car.make}} {{this.car.model}}</td>
<<<<<<< HEAD
            <td class="border border-gray-300 p-2">{{this.notes}}</td>
=======
            <td class="border border-gray-300 p-2">{{this.job.notes}}</td>
>>>>>>> 592fbbf0cf8da9ac60b0056ff962a0cefe9f61c9
            <td class="border border-gray-300 p-2">{{this.price}}</td>
            <td class="border border-gray-300 p-2">{{this.total_time}}</td>
            <td class="border border-gray-300 p-2">{{this.job.date}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <p class="text-center">No current services found.</p>
      {{/if}}

      {{#if pastServices}}
      <h3 class="text-center text-xl mb-2">Past Services</h3>
      <table class="w-full border-collapse mb-8">
        <thead>
          <tr>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Rego</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Make/Model</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Additional Notes</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Price</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Total Time</th>
            <th class="border border-gray-300 p-2 bg-gray-200 font-bold">Service Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each pastServices}}
          <tr class="even:bg-gray-100">
            <td class="border border-gray-300 p-2">{{this.car.licensePlate}}</td>
            <td class="border border-gray-300 p-2">{{this.car.make}} {{this.car.model}}</td>
            <td class="border border-gray-300 p-2">{{this.job.notes}}</td>
            <td class="border border-gray-300 p-2">{{this.price}}</td>
            <td class="border border-gray-300 p-2">{{this.total_time}}</td>
            <td class="border border-gray-300 p-2">{{this.job.date}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <p class="text-center">No past services found.</p>
      {{/if}}
    </div>

    <!-- book service -->
    <div class="container mx-auto px-4 py-6 " id="book-service">
<<<<<<< HEAD
      <h2 class="text-xl font-bold mb-4">Add Service</h2>
      <form action="/api/job" method="POST" id="add-service-form">

        <!-- Select Car -->
        <div class="mb-4">
          <label for="car_id" class="block text-sm font-medium text-gray-700">Select Car</label>
          <select id="car_id" name="car_id"
            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            {{#each cars}}
            <option value="{{this.id}}">{{this.make}} {{this.model}} ({{this.licensePlate}})</option>
            {{/each}}
          </select>
        </div>

        <!-- Service Type -->
        <div class="mb-4">
          <label for="type" class="block text-sm font-medium text-gray-700">Service Type</label>
          <select id="type" name="type"
            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="service & inspection">Service & Inspection</option>
            <option value="repairs">Repairs</option>
          </select>
        </div>

        <!-- Date -->
        <div class="mb-4">
          <label for="date" class="block text-sm font-medium text-gray-700">Date</label>
          <input type="date" id="date" name="date"
            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>

        <!-- Drop-off Time -->
        <div class="mb-4">
          <label for="drop_off" class="block text-sm font-medium text-gray-700">Drop-off Time</label>
          <input type="time" id="drop_off" name="drop_off"
            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>

        <!-- Notes -->
        <div class="mb-4">
          <label for="notes" class="block text-sm font-medium text-gray-700">Notes</label>
          <textarea id="notes" name="notes" rows="3"
            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
        </div>

        <!-- Submit Button -->
        <button type="submit"
          class="w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-md shadow-sm">Submit</button>
      </form>
    </div>







  </div>

  <!-- profile -->
  <div class="container mx-auto px-4 py-6" id="profile-page">
    {{> profiles}}
  </div>
</div>
=======
      <h1>book service</h1>
    </div>

    <!-- profile -->
    <div class="container mx-auto px-4 py-6" id="profile-page">
      {{> profiles}}
    </div>
  </div>
>>>>>>> 592fbbf0cf8da9ac60b0056ff962a0cefe9f61c9
</div>

<!-- Add Car Modal -->
<div id="addCarModal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
  <div class="bg-white rounded-lg w-1/2">
    <div class="flex flex-col items-start p-4">
      <div class="flex items-center w-full">
        <div class="text-gray-900 font-bold text-2xl">Add New Car</div>
        <svg onclick="closeAddCarModal()" class="ml-auto fill-current text-gray-700 w-6 h-6 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
          <path d="M18 1.3L16.7 0 9 7.6 1.3 0 0 1.3 7.6 9 0 16.7 1.3 18 9 10.4l7.7 7.6 1.3-1.3L10.4 9z"></path>
        </svg>
      </div>
      <hr />
      <div class="w-full">
        <label class="block">Make:</label>
        <input id="addMake" type="text" class="border rounded w-full py-2 px-3 text-grey-darker">
        <label class="block mt-3">Model:</label>
        <input id="addModel" type="text" class="border rounded w-full py-2 px-3 text-grey-darker">
        <label class="block mt-3">License Plate:</label>
        <input id="addLicensePlate" type="text" class="border rounded w-full py-2 px-3 text-grey-darker">
        <label class="block mt-3">Year:</label>
        <input id="addYear" type="text" class="border rounded w-full py-2 px-3 text-grey-darker">
        <label class="block mt-3">Colour:</label>
        <input id="addColour" type="text" class="border rounded w-full py-2 px-3 text-grey-darker">
      </div>
      <div class="w-full mt-6">
        <button onclick="addCar()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add
          Car</button>
      </div>
    </div>
  </div>
</div>







<script>

</script>

<script>
  const userId = '{{user_id}}';
</script>

<script src="/js/carActions.js"></script>

<script src="/js/profile.js"></script>