<div class="flex flex-col h-screen w-full md:flex-row">
  <!--Sidebar --->
  <aside id="default-sidebar"
    class="z-40 w-full h-20 md:h-screen md:w-64 md:relative md:transition-transform md:-translate-x-full md:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full md:overflow-y-auto md:px-3 md:py-4 bg-gray-50 dark:bg-gray-500">
      <ul class="flex md:flex-col md:space-y-8 md:font-medium sm:pt-3">
        <li>
          <a href="/job"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <svg aria-hidden="true"
              class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
              <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
            </svg>
            <span class="ml-3">Customer Car</span>
          </a>
        </li>
        <li>
          <a href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <svg aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
              </path>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Service History</span>
            <span
              class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"></span>
          </a>
        </li>
        <li>
          <a href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <svg aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z">
              </path>
              <path
                d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z">
              </path>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Book Service</span>
          </a>
        </li>
        <li>
          <a href="/workshop"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <svg aria-hidden="true"
              class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="flex-1 ml-3 whitespace-nowrap">Profile</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <!-- right side section Show data from model -->
  <div class="relative w-full md:mt-0 md:h-full overflow-auto bg-gradient-to-r from-gray-400 via-gray-600 to-blue-800 ">
    <div class="container mx-auto px-4 py-6" id="car-info">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{!-- {{#each cars as |car|}} --}}
        {{> carInfo}}
        {{!--
        {{else}}
        <p>No Car saved for this user</p>
        {{/each}} --}}

        <div class="bg-indigo-100 shadow-md rounded-lg p-6 ">
          <i class="fas fa-car mb-2 text-4xl"></i>
          <h2 class="text-xl font-bold mb-2">{{make}}Audi {{model}}Q5</h2>
          <div class="mb-3">
            <strong class="inline-block w-40">License Plate:</strong>
            <span>{{licensePlate}}SEC99S</span>
          </div>
          <div class="mb-3">
            <strong class="inline-block w-40">Year:</strong>
            <span>{{year}}2018</span>
          </div>
          <div class="mb-4">
            <strong class="inline-block w-40">Colour:</strong>
            <span>{{colour}}BLACK</span>
          </div>

          <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              onclick="window.location.href='/service-history/{{id}}'">View Service History</button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              onclick="window.location.href='/book-service/{{id}}'">Book Service</button>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
          onclick="window.location.href='/add-car'">Add New Car</button>
      </div>
    </div>
  </div>
</div>

<script>
  function openModal() {
    document.getElementById("editModal").classList.remove("hidden");
  }

  function closeModal() {
    document.getElementById("editModal").classList.add("hidden");
  }
</script>