<h1>Information for {{car-rego}}:</h1>

<div class= "service-info">
    <h2>Items used in last service:</h2>
    <table class="table-auto">
        <thead>
            <tr>
            <th>Date</th>
            <th>Oil</th>
            <th>Filter</th>
            </tr>
        </thead>
        <tbody>
            {{#each services as |service|}}
            <tr>
            <td>{{car.service.date}}</td>
            <td>{{car.service.oil}}</td>
            <td>{{car.service.filter}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="current-job">
    <h2>Currently working on {{car.service-type}}</h2>
    <p>Job description:</p>
    <p>{{job-decrip}}</p>
</div>
<form class="future-work">
    <h3>Recommended future work:</h3>
    {{#each service-types as |service-type|}}
    <div class="checkbox-{{service-type}}">
        <input id="{{service-type}}-checkbox" type="checkbox">
        <label for="{{service-type}}-checkbox">{{service-type}}</label>
    </div>
    {{/each}}
    <div>
        <label for="message">Comments:</label>
        <textarea id="message" rows="4" placeholder="Write your comments here..."></textarea>
    </div>
    <button>Submit</button>
</form>
