<h2>You are currently working at {{workshop-name}} on the {{todays-date}}.</h2>

<div class="current-jobs">
    <h2>Your current jobs are:</h2>
    <div class= "job-list">
        <table class="table-auto">
            <thead>
                <tr>
                <th>Rego</th>
                <th>Job type</th>
                <th>Pick-up Time</th>
                <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                {{#each cars as |car|}}
                <tr>
                <td><a href="carinfo.js">{{car.rego}}</a></td>
                <td>{{car.service-type}}</td>
                <td>{{car.pickup-time}}</td>
                <td>{{car.service-cost}}</td>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>