<div class="grid grid-cols-12 gap-4">
  <div class="col-span-10 col-start-2" id="header">
    <div class="current-job rounded-md bg-[#C7BDAA] p-2">
      <h2 class="rounded-md bg-[#E0DCD1] p-2">Hello <span class="text-[#004225]">{{tech-name}}</span>! Your jobs for today are:</h2>
    </div>
  </div>

  <div class="current-jobs col-span-10 col-start-2 p-2">
    <div class="job-list">
      <table class="w-full table-auto border border-[#004225]">
        <thead>
          <tr>
            <th class="border-b border-l border-[#004225]">Rego</th>
            <th class="border-b border-l border-[#004225]">Make</th>
            <th class="border-b border-l border-[#004225]">Model</th>
            <th class="border-b border-l border-[#004225]">Job type</th>
            <th class="border-b border-l border-[#004225]">Drop-off Time</th>
            <th class="border-b border-l border-[#004225]">Job Length</th>

          </tr>
        </thead>
        {{#if services.length}}
        <tbody>
          {{#each cars as |car|}}
          <tr>
            <td class="border-b border-l border-[#004225] text-center"><a href="">{{car.licensePlate}}</a></td>
            <td class="border-b border-l border-[#004225] text-center">{{car.make}}</td>
            <td class="border-b border-l border-[#004225] text-center">{{car.model}}</td>
            <td class="border-b border-l border-[#004225] text-center">{{car.job-type}}</td>
            <td class="border-b border-l border-[#004225] text-center">{{car.drop-off-time}}</td>
            <td class="border-b border-l border-[#004225] text-center">{{car.job-length}}</td>
            {{/each}}
          </tr>
        </tbody>
        {{/if}}
      </table>
    </div>
  </div>
</div>
